<!-- 시작: 글 목록 -->
{% for post in site.posts %}
<div class="article">

  <div class="container">
    <div class="article__wrapper">

      <!-- 이미지 링크 -->
      <a href="{{post.url | prepend: site.baseurl}}" class="article__image"
         style="background-image: url(/images/{{post.image}})">
      </a>

      <!-- 글 내용 -->
      <div class="article__content">
        <!-- 글 태그 (검색기능이 되어야되는데 안되고 있음 추후 수정 필요)-->
        <div class="article-tags">
          {% if post.tags.size >= 1 %}
          <div class="article-tags__box">
            {% for tag in post.tags %}
            <div class="article__tag" style="color: #f6b141; display: inline-block;"> / {{tag}}</div>
            {% endfor %}
          </div>
          {% else %}
          {% endif %}
        </div>
        <!-- 글 제목 -->
        <h2 class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{post.title}}
          </a>
        </h2>

        <!-- 글 요약 -->
        <p class="article__excerpt">
          {% if post.description %}
          {{ post.description }}
          {% else %}
          {{ post.content | strip_html | truncate: 185 }}
          {% endif %}
        </p>

        <!-- 글 푸터 -->
        <div class="article__footer">
          <!-- 더 읽기 링크 -->
          <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">
            Read More <i class="ion ion-ios-arrow-forward"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endfor %}
<!-- 끝: 글 목록 -->
